<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>Daftar Fakultas</h1>
	<table border="1">
		<tr>
			<td>Jurusan</td>
			<td>Fakultas</td>
			<td>Update</td>
			<td>Delete</td>
		</tr>
		<tr th:each="fakultasModel:${fakultasModelList}">
			<td class="kodejurusan" style="display:none"><a th:text="${fakultasModel.kodeJurusan}"></a></td>
			<td class="namajurusan"><a th:text="${fakultasModel.jurusan}"></a></td>
			<td class="namafakultas"><a th:text="${fakultasModel.fakultas}"></a></td>
			<td><Button data-toggle="modal" data-target="#editModal" class="use-edit-modal">Update</Button></td>
			<td><Button>Delete</Button></td>
		</tr>
	</table>
	<div class="modal fade" id="editModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="model-header">
					<button type="button" class="close" data-dismiss="modal">&times</button>
					<h4 class="modal-title">Update Model</h4>
				</div>
				<div class="modal-body">
					<form method="post" var="tabelmodel" action="edit">
						<div class="form-group">
							<input type="text" class="form-control" style="display: none"
								name="kodejurusan" id="editkodejurusan">
						</div>
						<div class="form-group">
							<label for="Kode Barang">Nama Jurusan</label> <input type="text"
								class="form-control" name="namajurusan" id="editnamajurusan">
						</div>
						<div class="form-group">
							<label for="Kode Barang">Nama Fakultas</label> <input type="text"
								class="form-control" name="namafakultas" id="editnamafakultas">
						</div>
						<div class="modal-footer">
							<input type="submit" value="Save">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script>
		$(document).ready(function() {
			$('#editModal').on('show.bs.modal',function(e){
				$(".use-edit-modal").click(function(){
					var kodejurusan  = $(this).closest('tr').find('.kodejurusan').html();
					var namajurusan  = $(this).closest('tr').find('.namajurusan').html();
					var namafakultas = $(this).closest('tr').find('.namafakultas').html();
					var kodejurusanreplace = replaceandslice (kodejurusan);
					var namajurusanreplace = replaceandslice (namajurusan);
					var namafakultasreplace = replaceandslice (namafakultas);

					$('#editkodejurusan').val(kodejurusanreplace);
					$('#editnamajurusan').val(namajurusanreplace);
					$('#editnamafakultas').val(namafakultasreplace);
				})
				
			})
		})
		
		function replaceandslice (str){
			return str.replace(/<a>/gi,"").substring(0,str.length-7);
		}
		
	</script>
</body>
</html>