<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Data Laptop</h1>
	<table border="1">
		<tr>
			<td></td>
			<td>
				<form th:action=@{/laptop/search/nama} method="post">
					<input type="text" name="cari" />
					<button type="submit">cari</button>
				</form>
			</td>
		</tr>
		<tr>
			<td>Serial Number</td>
			<td>Nama Laptop</td>
			<td>Seri Laptop</td>
			<td>Spesifikasi</td>
			<td>Harga</td>
		</tr>

		<tr th:each="laptopModel:${laptopModelList}">
			<td><a th:text="${laptopModel.serialNumber}"></a></td>
			<td><a th:text="${laptopModel.namaLaptop}"></a></td>
			<td><a th:text="${laptopModel.seriLaptop}"></a></td>
			<td><a th:text="${laptopModel.spesifikasi}"></a></td>
			<td><a th:text="${laptopModel.harga}"></a></td>
		</tr>
	</table>
</body>
</html>