<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Selamat Datang di Smart Spring</h1>
	<table>
		<tr>
			<td colspan="2">Username <a th:text="${akunLempar}"></a></td>
			<td>Password <a th:text="${passwordLempar}"></a></td>
		</tr>
		<tr>
			<td>
				<ul>
					<li><a th:href="@{/menu1}">Menu 1</a></li>
					<li><a th:href="@{/menu2}">Menu 2</a></li>
					<li><a th:href="@{/menu3}">Menu 3</a></li>
				</ul>
			</td>
		</tr>
	</table>
</body>
</html>