<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Hasil Daftar Karyawan</h1>
	nama : <a th:text="${hasil_nama}"></a><br/>
	jabatan : <a th:text="${hasil_jabatan}"></a>
</body>
</html>