<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table border="1">
		<tr>
			<td>Kode</td>
			<td>Nama</td>
			<td>Harga</td>
		</tr>
		<tr th:each="produkModel:${produkModelList}">
			<td><a th:text="${produkModel.kodeProduk}"></a></td>
			<td><a th:text="${produkModel.namaProduk}"></a></td>
			<td><a th:text="${produkModel.hargaProduk}"></a></td>
		</tr>
	</table>
</body>
</html>