<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="cari_kode" method="post">
		Masukkan Kode : <input type="text" name="cariKode">
		<button type="submit">Cari</button>
		<br>
	</form>
	<form action="cari_produk" method="post">
		Masukkan Nama : <input type="text" name="cariNama">
		<button type="submit">Cari</button>
	</form>
	<table border="1">
		<tr>
			<td>Kode</td>
			<td>Nama</td>
			<td>Harga</td>
		</tr>
		<tr th:each="produkModel:${produkModelList}">
			<td><a th:text="${produkModel.kodeProduk}"></a></td>
			<td><a th:text="${produkModel.namaProduk}"></a></td>
			<td><a th:text="${produkModel.hargaProduk}"></a></td>
		</tr>
	</table>
</body>
</html>