<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Data Pasien</h1>
	<table border="1">
		<tr>
			<td></td>
			<td>
				<form th:action=@{/pasien/search/nama} method="post">
					<input type="text" name="cari" />
					<button type="submit">cari</button>
				</form>
			</td>
		</tr>
		<tr>
			<td>No</td>
			<td>Nama</td>
			<td>Gender</td>
			<td>Kategory</td>
			<td>Biaya</td>
			<td>Tanggal Lahir</td>
		</tr>

		<tr th:each="pasienModel:${pasienModelList}">
			<td><a th:text="${pasienModel.noPasien}"></a></td>
			<td><a th:text="${pasienModel.namaPasien}"></a></td>
			<td><a th:text="${pasienModel.gender}"></a></td>
			<td><a th:text="${pasienModel.kategory}"></a></td>
			<td><a th:text="${pasienModel.biaya}"></a></td>
			<td><a th:text="${pasienModel.tanggal}"></a></td>
		</tr>
		<!-- ini dilooping sebanyak data yang kita punya -->
	</table>
</body>
</html>