<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<p>Nama  :  <a th:text="${hasilNamaLengkap}"></a></p><br>
<p>Tempat Lahir  :  <a th:text="${hasilTempatLahir}"></a></p><br>
<p>Tanggal Lahir  :  <a th:text="${hasilTanggalLahir}"></a></p><br>
<p>Jenis Kelamin  :  <a th:text="${hasilJenisKelamin}"></a></p><br>
<p>Agama  :  <a th:text="${hasilAgama}"></a></p><br>
<p>Telepon  :  <a th:text="${hasilTelepon}"></a></p><br>
<p>Hp  :  <a th:text="${hasilHp}"></a></p><br>
<p>Kewarganegaraan  :  <a th:text="${hasilKewarganegaraan}"></a></p><br>
<p>NIK  :  <a th:text="${hasilNik}"></a></p><br>
<p>Golongan Darah  :  <a th:text="${hasilGolonganDarah}"></a></p><br>
<p>Tingaal Di Jakarta  :  <a th:text="${hasilTinggalDiJakarta}"></a></p><br>
<p>Anak Ke  :  <a th:text="${hasilAnakKe}"></a></p>
<p>Dari  :  <a th:text="${hasilBersaudara}"></a> Bersaudara</p><br>
<p>Status Nikah  :  <a th:text="${hasilStatusNikah}"></a></p><br>
</body>
</html>