<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Banyak Dosen</h1>
	<table border="1">
		<tr>
			<td>NamaDosen</td>
			<td>UsiaDosen</td>
			<td>update</td>
			<td>Delete</td>
		</tr>
		<tr th:each="dosenModel:${dosenModelList}">
			<td><a th:text="${dosenModel.namaDosen}"></a></td>
			<td><a th:text="${dosenModel.usiaDosen}"></a></td>
			<td><a th:href="@{ubah_dosen?(namaID=${dosenModel.namaDosen})}">ubah</a></td>
			<td><a th:href="@{hapus_dosen?(namaID=${dosenModel.namaDosen})}">delete</a></td>
		</tr>
	</table>
</body>
</html>