<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Banyak Dosen</h1>
	<table>
		<tr>
			<td>NamaDosen</td>
			<td>UsiaDosen</td>
			<td>update</td>
		</tr>
		<tr th:each="dosenModel:${dosenModelList}">
			<td><a th:text="${dosenModel.namaDosen}"></a></td>
			<td><a th:text="${dosenModel.usiaDosen}"></a></td>
		</tr>
	</table>
</body>
</html>