<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Daftar Player</h1>
<table border="1">
		<tr>
			<td>No Player</td>
			<td>Nama Player</td>
			<td>Level Player</td>
		</tr>
		<tr th:each="playerModel:${pml}">
			<td><a th:text="${playerModel.noPlayer}"></a></td>
			<td><a th:text="${playerModel.namaPlayer}"></a></td>
			<td><a th:text="${playerModel.levelPlayer}"></a></td>
		</tr>
	</table>
</body>
</html>