<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<a th:text="${sm.nama}"></a>
<a th:text="${sm.level}"></a>
<a th:text="${sm.status}"></a>
</body>
</html>